*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Amarante", serif;
     font-size: 25px;
}
html,body{
     margin: 0;
    height: 100%;
    background: linear-gradient(to bottom right, #0217f9, #f7f8f9);
}
.tit{
    margin: auto;
    text-align: center;
}
.head{
    margin-top: 4vmin;
    padding: 5px;
    font-size: 2em;
}

.mainContainer{
    border-radius: 2rem;
    width: 60vw;
    background-color:white;
    margin: auto;
    height: 70%;
    display: flex;
    padding: 2vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer{
    margin: auto;
    text-align: center;
}
.quotes{
    margin-top: 4vmin;
    font-weight: bold;
}
.add button{
    background:linear-gradient(to top left, #0217f9, #f7f8f9);
}
.add input{
    background:linear-gradient(to left, #0217f9, 20%, #f7f8f9);
}
.list{
    border-radius: 2rem;
    width: 98%;
    background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url(sunflower.jpg);
    background-size:cover;
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}
.newTask{
    margin: 1vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    border: 1px solid black;
}
.delete{
    height: 90%;
    border-radius: 2rem;
    background-color: beige;
}
.taskBox{
    display: flex;
}
@media(max-width:750px){
    *{
        font-size: 15px;
    }
}
@media(max-width:500px){
    *{
        font-size: 8px;
    }
    .add input{
        width:50%;
    }
}

